* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus {
    outline: 0;
}

body {
	background-color: black;
	color: #C4C4C4;
	font-family: helvetica, arial, sans-serif;
	font-size: 16px;
	letter-spacing: 1px;
	text-transform: lowercase;
	line-height: 150%;
	border: 1px black;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	margin-top: 15px;
}

/* video box */

.videobox {
	float: left;
	width: 640px;
}

.controlbox {
	height: 180px;
	width: 640px;
	position: relative;
}

.title {
	font-size: 1.3em;
	letter-spacing: 2px;
}

.results img {
	vertical-align: bottom;
}

/* rainbox boxes */

/*.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}*/

.rainbox {
	width: 320px;
	height: 180px;
	float: right;
	/*background: blue;*/


/*	background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;*/

}

button {
    width : 209px;
    background-color: gray;
    color:;
    cursor : pointer;
    border : none;
    letter-spacing: 2px;
    margin : 2px;
    padding : 6px;
}

.searchbox {
/*	height: 180px;
*/}

form {
	position: absolute;
	bottom: 0;
}

.infobox {
	padding: 11px 3px;
}

input {
    border: none; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 9px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 0 0;
}

input[type=text] {
	width: 427px;
}

input[type=submit] {
	width: 207px;
}