* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px black;
}

body {
	background-color: red;
	color: gray;
	font-family: helvetica, arial, sans-serif;
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: lowercase;
	line-height: 150%;
	border: 1px black;
}



/* video box */

.videobox {
	float: left;
	width: 640px;
	display: inline;
}

.results {
	float: right;
}

.title {
	font-size: 1.3em;
	letter-spacing: 2px;
}


.searchbox {
	display: inline;
}


