* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px black;
}

body {
	background-color: darkgray;
	color: gray;
	font-family: helvetica, arial, sans-serif;
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: lowercase;
	line-height: 150%;
	border: 1px black;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
}

/* video box */

.videobox {
	float: left;
	width: 640px;
}

.controlbox {
	height: 180px;
	width: 640px;
}

.title {
	font-size: 1.3em;
	letter-spacing: 2px;
}

.results img {
	vertical-align: bottom;
}

/* rainbox boxes */

/*.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}*/

.rainbox {
	width: 320px;
	height: 180px;
	float: right;
	/*background: blue;*/


/*	background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;*/

}


